.config
.env
chirag.txt
temp.go
vendor
# Editor(VS & goland)
**/.history/**
**/.idea/**
**/.vscode/**
cockroachdb-deployment.yaml
cockroachdb-service.yaml
rabbitmq-deployment.yaml
rabbitmq-service.yaml
redis-deployment.yaml
redis-service.yaml
taskmanager-deployment.yaml
taskmanager-service.yaml